.frame {
    display: flex; /*讓容器內的項目水平排列*/
    min-height: 100vh/*區塊的最小高度設定為100%瀏覽器視窗的可見高度;vh(Viewport Height)瀏覽器視窗的可見高度*/
    }

.left {
    width: 30%; /* 左區塊寬度30% */
    background-color: rgba(103, 94, 82, 0.733);
    justify-content:center ; /*讓容器內的項目置中*/
    }

.right {
    flex: 1; /* 左區塊寬度為剩下空間的全部 */
    background-color:white;
    margin: 20px;/*區塊外圍距離*/
    
    
}

.title{
    font-size: 48px;
    font-weight: bold;
    color:#814e4e ;
    background-color:rgb(248, 213, 204);
    height: 100px;
    padding: 10px;/*區塊內的字與內邊距離*/
        
    display: flex;
    justify-content:center ; /*讓容器內的項目置中*/
    align-items: center; /* 垂直居中 */
}


.issue{
    background-color:#ffffff;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;/*區塊內的字與內邊距離*/
}
    
.issue::before {
    content: ""; /* 設置content屬性為空字串，創建"偽元素" */
    background-image: url('light.png'); /* css圖像路徑 */
    display: inline-block; /* 設定偽元素變成，以便设置宽度、高度等属性 */
    background-size: contain; /* 確保圖片完全顯示，不會變形或裁切。 */
    width: 30px; /* 圖片寬 */
    height: 30px;
    margin-right: 5px; /* 可选，用于添加图像与文本之间的间距 */
    
}
        /* 行內區塊級元素（inline-block）結合了行內元素和區塊級元素的特點，具有以下特點：
            它們不會導致換行，會按照它們的大小在同一行內水平排列。
            與區塊級元素不同的是，它們的寬度和高度可以設定為固定值。例如：<img>, <input>, <button> 等。*/


.answer{
    background-color:rgba(206, 189, 189, 0.503);
    padding: 20px;/*區塊內的字與內邊距離*/
}

.frame-min {
        display: flex; /*讓容器內的項目水平排列*/
        justify-content:center ; /*讓容器內的項目置中*/
}
    
.item{
        background-color:rgb(243, 237, 237);
        margin-right: 20px; /* 區塊外間距 */
        margin-top: 10px; /* 區塊外間距 */
        margin-bottom: 10px; /* 區塊外間距 */
        padding: 20px;/*區塊內的字與內邊距離*/
}

.text-top{
    padding: 20px;/*區塊內的字與內邊距離*/
    font-weight: bold;
    font-size: 20px;
    text-align: center; /* 文字置中 */
  }

.text{
    margin-top:10px; /* 區塊外間距 */
    padding: 20px;/*區塊內的字與內邊距離*/
    font-size: 20px;
    text-align: center; /* 文字置中 */
  }

.text, .text a {
    color: #ffffff;
    font-size: 20px;
     }

@media (max-width: 700px) {
    .frame {
        flex-direction: column; 
    }

    .left, .right {
        width: 100%; 
    }
}


}